USE [master]
GO
/****** Object:  Database [WebScraping]    Script Date: 5/15/2022 2:42:56 AM ******/
CREATE DATABASE [WebScraping]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WebScraping', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\WebScraping.mdf' , SIZE = 139264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WebScraping_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\WebScraping_log.ldf' , SIZE = 401408KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WebScraping].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WebScraping]
GO
/****** Object:  FullTextCatalog [Scraping]    Script Date: 5/15/2022 2:42:57 AM ******/
CREATE FULLTEXT CATALOG [Scraping] WITH ACCENT_SENSITIVITY = OFF
GO
/****** Object:  Table [dbo].[_User]    Script Date: 5/15/2022 2:42:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](50) NOT NULL,
	[USER_NAME] [varchar](50) NOT NULL,
	[PASSWORD] [varchar](50) NOT NULL,
 CONSTRAINT [PK_USER_ID] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlackList]    Script Date: 5/15/2022 2:42:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlackList](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LINK] [varchar](max) NULL,
	[Date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Condition]    Script Date: 5/15/2022 2:42:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Condition](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[condition] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Item]    Script Date: 5/15/2022 2:42:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](max) NULL,
	[PRICE] [decimal](13, 2) NULL,
	[OLD_PRICE] [decimal](13, 2) NULL,
	[SAVING] [decimal](13, 2) NULL,
	[LINK] [nvarchar](450) NULL,
	[CONDITION] [int] NULL,
	[STATUS] [int] NULL,
	[SHOP] [int] NULL,
	[IMAGE] [varchar](max) NULL,
	[DATE_PRICE_CHANGE] [datetime] NULL,
	[SAVING_PERCENT] [decimal](13, 2) NULL,
	[TYPE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UNI_LINK] UNIQUE NONCLUSTERED 
(
	[LINK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[log]    Script Date: 5/15/2022 2:42:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[log](
	[log] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shop]    Script Date: 5/15/2022 2:42:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shop](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](15) NOT NULL,
 CONSTRAINT [PK_ID_SHOP] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 5/15/2022 2:42:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](20) NOT NULL,
 CONSTRAINT [PK_ID_STATUS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supported]    Script Date: 5/15/2022 2:42:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supported](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NUMBER_MODEL] [varchar](30) NULL,
	[NAME_MODEL] [varchar](30) NULL,
	[TOOL] [varchar](30) NULL,
	[SUPPORT_VERSION] [varchar](max) NULL,
	[SUPPORT_BIT] [varchar](max) NULL,
	[CARRIERS] [varchar](max) NULL,
	[COMMENT] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type]    Script Date: 5/15/2022 2:42:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](20) NOT NULL,
 CONSTRAINT [PK_ID_Type] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_ID_CONDITION]    Script Date: 5/15/2022 2:42:57 AM ******/
CREATE NONCLUSTERED INDEX [IDX_ID_CONDITION] ON [dbo].[Item]
(
	[CONDITION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_ID_LINK]    Script Date: 5/15/2022 2:42:57 AM ******/
CREATE NONCLUSTERED INDEX [IDX_ID_LINK] ON [dbo].[Item]
(
	[LINK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_ID_STATUS]    Script Date: 5/15/2022 2:42:57 AM ******/
CREATE NONCLUSTERED INDEX [IDX_ID_STATUS] ON [dbo].[Item]
(
	[STATUS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_ID_TYPE]    Script Date: 5/15/2022 2:42:57 AM ******/
CREATE NONCLUSTERED INDEX [IDX_ID_TYPE] ON [dbo].[Item]
(
	[TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [INDEX_Item]    Script Date: 5/15/2022 2:42:57 AM ******/
CREATE NONCLUSTERED INDEX [INDEX_Item] ON [dbo].[Item]
(
	[LINK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BlackList] ADD  DEFAULT (getdate()) FOR [Date]
GO
ALTER TABLE [dbo].[Item] ADD  DEFAULT ((0)) FOR [SAVING]
GO
ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [FK_ID_CONDITION] FOREIGN KEY([CONDITION])
REFERENCES [dbo].[Condition] ([id])
GO
ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [FK_ID_CONDITION]
GO
ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [FK_ID_SHOP] FOREIGN KEY([SHOP])
REFERENCES [dbo].[Shop] ([Id])
GO
ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [FK_ID_SHOP]
GO
ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [FK_ID_STATUS] FOREIGN KEY([STATUS])
REFERENCES [dbo].[Status] ([ID])
GO
ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [FK_ID_STATUS]
GO
ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [FK_ID_TYPE] FOREIGN KEY([TYPE])
REFERENCES [dbo].[Type] ([ID])
GO
ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [FK_ID_TYPE]
GO
/****** Object:  StoredProcedure [dbo].[Filter]    Script Date: 5/15/2022 2:42:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Filter]
@Data VARCHAR(MAX),
--@Page INT,
@Order VARCHAR(30),
@Min VARCHAR(20) ,
@Max VARCHAR(20), 
@Types VARCHAR(MAX),
@Shops VARCHAR(MAX),
@Condition VARCHAR(MAX)
AS
SET TRAN ISOLATION LEVEL SNAPSHOT 

	DECLARE @QUERY NVARCHAR(MAX)
	DECLARE @CLEANDATA NVARCHAR(MAX) = REPLACE (@Data,'\','')
	--DECLARE @OFFSET INT 
	--SELECT @OFFSET = (@Page -1) * 40
	SELECT @QUERY = 'SELECT * FROM Item WHERE STATUS = 1 ' +  @CLEANDATA  +' '+ @Min+' '+@Max+' '+@Types +' '+@Shops +' '+@Condition+' ORDER BY '+ @Order 
	--+' OFFSET '+ CAST( @OFFSET AS NVARCHAR)+' ROWS FETCH NEXT 40 ROW ONLY'
	
	EXEC sp_executesql @QUERY;
	

GO
/****** Object:  StoredProcedure [dbo].[Offer]    Script Date: 5/15/2022 2:42:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[Offer]
@TYPE VARCHAR(6)
as
set tran isolation level snapshot  

IF (@TYPE = 'today')
	BEGIN
		SELECT  * FROM Item WHERE 
		STATUS =1 AND (( SAVING_PERCENT >=25 )  OR (SAVING>=20 AND PRICE < 200)) 
		AND CONVERT(date, DATE_PRICE_CHANGE) =  CONVERT(date, GETDATE())
		ORDER BY SAVING DESC
	END
ELSE
BEGIN
SELECT * FROM Item WHERE 
		STATUS =1 AND (( SAVING_PERCENT >=25 )  OR (SAVING>=20 AND PRICE < 200)) 
		ORDER BY SAVING DESC
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ADD]    Script Date: 5/15/2022 2:42:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADD]

@NAME VARCHAR(MAX),
@PRICE DECIMAL(13,2),
@LINK VARCHAR(MAX),
@CONDITION INT,
@SHOP INT,
@IMAGE VARCHAR(MAX),
@TYPE INT
AS
SET TRAN ISOLATION LEVEL SNAPSHOT 
INSERT INTO Item VALUES(@NAME,@PRICE,0,0,@LINK,@CONDITION,1,@SHOP,@IMAGE,NULL,0,@TYPE)
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE]    Script Date: 5/15/2022 2:42:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DELETE]
@IDS VARCHAR(MAX)
AS
SET TRAN ISOLATION LEVEL SNAPSHOT 
BEGIN TRAN
	BEGIN TRY
		DECLARE @LINK VARCHAR(MAX) 
		DECLARE @ID INT
		DECLARE CURSOR_ CURSOR FOR 

		SELECT ID, LINK
		FROM   Item
		WHERE  ID IN (SELECT convert(int, value) FROM string_split(@IDS, ','))

		OPEN CURSOR_  
		FETCH NEXT FROM CURSOR_ INTO @ID, @LINK 

		WHILE @@FETCH_STATUS = 0  
		BEGIN  
				DELETE Item WHERE ID = @ID
				INSERT INTO BlackList (LINK) VALUES(@LINK)

			  FETCH NEXT FROM CURSOR_ INTO  @ID, @LINK  
		END 

		CLOSE CURSOR_ 
		DEALLOCATE CURSOR_

		
		COMMIT 
	END TRY
	BEGIN CATCH
		CLOSE CURSOR_ 
		DEALLOCATE CURSOR_
		ROLLBACK
		PRINT ERROR_MESSAGE()  
	END CATCH
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_BLACK_LIST]    Script Date: 5/15/2022 2:42:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_BLACK_LIST]
AS
SELECT LINK FROM BlackList
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_ONE]    Script Date: 5/15/2022 2:42:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_ONE]
@ID VARCHAR(MAX)
AS
--SET TRAN ISOLATION LEVEL SNAPSHOT
SELECT * FROM Item WHERE ID = @ID
 


--exec SP_GET_ONE @ID =1
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllLinks]    Script Date: 5/15/2022 2:42:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_GetAllLinks]
as
SET TRAN ISOLATION LEVEL SNAPSHOT 
select id,link from Item
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_PRICE]    Script Date: 5/15/2022 2:42:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UPDATE_PRICE]
@ID INT,
@PRICE DECIMAL(13,2),
@OLD_PRICE DECIMAL(13,2),
@SAVNG DECIMAL(13,2),
@SAVNG_PERCENT DECIMAL(13,2),
@NAME VARCHAR(MAX),
@IMAGE VARCHAR(MAX)
AS
SET TRAN ISOLATION LEVEL SNAPSHOT
Update Item SET PRICE = @PRICE , OLD_PRICE = @OLD_PRICE, SAVING = @SAVNG, SAVING_PERCENT = @SAVNG_PERCENT,
DATE_PRICE_CHANGE = getdate(), NAME= @NAME, IMAGE = @IMAGE  WHERE ID=@ID
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_STATUS]    Script Date: 5/15/2022 2:42:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UPDATE_STATUS]
@ID INT,
@STATUS INT
AS
SET TRAN ISOLATION LEVEL SNAPSHOT
UPDATE Item set STATUS = @STATUS WHERE ID=@ID
GO
USE [master]
GO
