<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span [matBadge]="total$" matBadgePosition="after" matBadgeColor="accent" matBadgeSize="large"
          matBadgeOverlap="false" routerLink="/">
      The Store
    </span>

    <span style="flex: 1 1 auto;"></span>
    <mat-icon>search</mat-icon>
    <input type="search" [id]="search$" #searchInput placeholder="search"
           (search)="searching(searchInput.value)" [value]="search$">
           <mat-icon (click)="logout()" color="red">settings_power</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
