.content-items {
  flex-grow: 1;
  overflow-y: auto;
}

.main-container {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
  padding-left: 2%;
}

mat-sidenav {
  width: 250px;
}

mat-toolbar {
  flex: 1 1 auto;
}

mat-sidenav-content {
  padding-right: 2%;
}

app-sidenav::-webkit-scrollbar {
  width: 2em !important;
}
